{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>São Joaquim - SC</title>
</head>

<body>
    <nav class="navbar">
        <a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
        <div class="navbar-title">São Joaquim - SC</div>
            <div class="button-wrapper">
                <a href="{% url 'vinicolas' %}" class="nav-button">Vinícolas</a>
                <a href="{% url 'destaques' %}" class="nav-button">Destaques</a>
                <a href="{% url 'clima' %}" class="nav-button">Clima</a>
                <a href="{% url 'video' %}" class="nav-button">Vídeo</a>
            </div>
    </nav>

    <section>
        <h3>Quer saber mais?</h3>
        <p>Confira um video de apresentação da cidade, mostrando os destaques da Capital Nacional da Maça.</p>
        <div class="centered-content">
            <iframe width="700" height="500" src="https://www.youtube.com/embed/c9GbU2TsqEs?si=fhqHCvicaCYWL77i"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>

    <footer>
        <p>&copy; Aline 2025 - Todos os direitos reservados.</p> 
    </footer>    
</body>

</html>